.o-button {
  padding: 0.2rem 0;
  width: 5rem;
  text-align: center;
  border-radius: var(--border-radius);

  &-secondary {
    border: 1px solid var(--theme-border-color);
  }
  &-primary {
    color: var(--white);
    background-color: var(--theme-alpha);
  }
}
